<div class="test">
  <h1>
    Test visual differences
  </h1>

  <p>
    Give the class 'text--alternate' to the following div, to see the difference.
  </p>
  <div
    class='sbo-searchbar'
  >
    <input 
    type='text'
    class='sbo-input-field'
    value="presentation"  
  />
  </div>
</div>