html {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.15;
  font-size: 16px;
}

.docs-md p,
nav {
  line-height: 1.625
}

/* TEST SPECIFIC */

.test-route {
  font-family: Arial, sans-serif;
  color: black;
  padding: 10px;
}

.test-route h1 {
  margin-top: 0;
}

.test-route p {
  margin-bottom: 1em;
}

.test-route h2 {
  margin-top: 1em;
}

.text {
  max-width: 500px;
}

.text--alternate {
  font-size: 1.1em;
}
